/* Variables  */
:root {
    --p-color: rgb(255, 60, 0);
    /*  orange */
    --s-color: rgb(4, 20, 59);
    /*  blue */
    --text-main-color: #fff;
    /* white*/
    --text-sec-color: #000;
    /*  black */
    --theme-1-color: rgb(222, 222, 222);
    --theme-2-color: rgb(31, 29, 29);
    --side-color: rgb(9, 55, 118);
}

/* css reset  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.4s;
    -webkit-tap-highlight-color: rgba(255, 255, 255,0) !important;
    -webkit-focus-ring-color:rgba(255,255,255,0) !important;
    user-select: none;
    outline: none !important;
}

html {
    font-size: 62.5%;
}

header {
    width: 100vw;
    height: 7rem;
    margin-bottom: 5rem;
}

/* The all in one main container */
#hero {
    overflow: hidden;
    transition: 1s;
}

/* .................................. */

/* load animation */

.load {
    animation: load 1s ease 0s 1 forwards;
    position: absolute;
}

@keyframes load {
    0% {
        width: 0;
        height: .3rem;
        background-color: rgb(255, 102, 0);
    }

    100% {
        width: 100%;
        height: 0.3rem;
        background-color: rgb(255, 64, 0);
        visibility: hidden;
    }
}

/* Navigation Bar  */

/* Main Nav Box */
nav {
    width: 100vw;
    height: 100%;
    background-color: var(--s-color);
    font-family: 'Comfortaa', cursive;
}

.sub-nav {
    width: 100vw;
    height: 100%;
    margin: 0 auto;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sub-nav .logobox {
    width: 20rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.logo {
    width: 5rem;
    background-color: white;
    border-radius: 50%;
    margin-top: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

.sub-nav .logobox h1 {
    font-size: 1.5rem;
    color: #fff;
}

.sub-nav .logobox span {
    color: var(--p-color);
}

/* Menu box */

.menubox {

    margin-right: 2vw;
    width: 35vw;
}

.menubox ul {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    padding-right: 3vw;

}

.main-list-box {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
    padding-right: 2rem;
    align-items: center;

}

.menubox ul li {
    list-style: none;
    margin: 0 0 0 22px;
    position: relative;

}

.menubox ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;


}

.menubox ul li::after {
    content: '';
    height: .3rem;
    width: 0;
    background-color: rgb(255, 60, 0);
    position: absolute;
    left: 0;
    bottom: -9px;
    transition: 0.5s;

}

/* Login SignUp button */
.btn3 {
    width: 7rem;
    margin: 0 1rem;
    cursor: pointer;
    border-radius: 1rem;
    outline: none;
    border: 2px solid rgb(255, 255, 255);
    font-size: 1rem;
    color: white;
    background-color: var(--p-color);
    padding: .4rem 1rem;
    transition: 0.2s;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

.btn3:hover+.btn3 a {
    cursor: pointer;

}

.menubox ul li:hover::after {
    width: 100%;

}

/* Down side navbar */
.down-nav {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
    background-color: var(--s-color);
    box-shadow: .3rem .3rem .3rem .3rem rgb(130, 127, 127);
    font-family: 'Roboto', sans-serif;
}

.down-nav i {
    font-size: 1.9rem;
    height: 2.5rem;
    color: #fff;
    width: 4rem;
    margin-left: 1rem;
    margin-right: 3.2rem;
    text-align: center;
    cursor: pointer;
}

.down-nav i:hover {
    color: var(--p-color);
}

.down-nav input {
    width: 20rem;
    padding: .3rem .6rem;
    outline: none;
    border-radius: .5rem;
}

/* Side Menu CSS */

/* side box */
#list-box {
    width: 0rem;
    height: 60rem;
    visibility: hidden;
    background-color: var(--theme-1-color);
    box-shadow: .2rem .3rem .3rem .2rem rgb(0, 0, 0);
    border-radius: .4rem;
    position: absolute;
    top: 0rem;
    transition: 0s;
    z-index: 2;
}

/* side box profile */
.profile {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(248, 248, 248);
    background-color: var(--s-color);
    padding: 1rem 0;
}

.profile .logo2 {
    width: 5rem;
    background-color: #fff;
    border-radius: 50%;
}

.profile h3 {
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--text-main-color);
    color: var(--p-color);
    text-align: left;
    font-family: 'Comfortaa', cursive;
    margin-top: .5rem;
  }

.profile span {
    color: #fff;
}

/* Mode Changer Label */
.switch {
    position: relative;
    display: inline-block;
    width: 4rem;
    height: 2.3rem;
    margin: 0 1rem;

}

/* Mode Changer Slider */
.s-mover {
    position: absolute;
    cursor: pointer;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(209, 197, 197);
    border-radius: 3.4rem;
    transition: 0.5s;
    border: 1px solid #fff;
}

.switch input {
    display: none;

}

.s-mover::before {
    position: absolute;
    content: "";
    width: 2rem;
    height: 2rem;
    left: 0.2rem;
    top: 0.1rem;
    bottom: 0.15rem;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

.switch input:checked+.s-mover {
    background-color: #000;
}

.switch input:checked+.s-mover::before {
    transform: translateX(1.8rem);
}

/* Closing Button */
.close {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    padding-right: 2rem;
    color: #fff;

}

.close #closebtn {
    cursor: pointer;
}

#closebtn:hover {
    color: rgb(26, 75, 103);
}

/* side box list */
#list-box ul {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

/* side box list items */
#list-box ul li {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: .2rem solid rgb(0, 0, 0);
    background-color: var(--side-color);
    width: 90%;
    height: 3.5rem;
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.4rem;
    padding-left: 1rem;
}

/* side box icons */
#list-box ul li a,
ul li i {
    text-decoration: none;
    font-size: 1.4rem;
    letter-spacing: .3rem;
    color: #fff;
    margin-left: 1rem;
}

/* Classes To Call Animation */
.list {
    animation: listing 0s ease 0s 1 forwards;
}

.unlist {
    transition: 0.5s;
    animation: unlisting 0s ease-out 0s 1;
}

/* Animations */

@keyframes listing {
    0% {
        width: 0;
        height: 73rem;
    }

    100% {
        width: 18rem;
        visibility: visible;
        height: 73rem;
    }
}

@keyframes unlisting {
    0% {
        width: 18rem;
    }

    100% {
        width: 0rem;
    }
}

.main-con {

    max-width: 96vw;
    margin: 0.8rem auto;
    border: 2px solid black;
    box-shadow: .3rem .3rem .3rem .2rem rgb(222, 212, 212);
    height: 60rem;
    border-radius: 1rem;
    display: flex;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/bg4.avif');
    background-position: center;
    background-size: cover;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transition: 0.5s;
}

/* content */
.content {

    max-width: 70rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--p-color);
    font-family: 'Roboto', sans-serif;


}

.content .txt {
    font-size: 2rem;
    letter-spacing: 4px;
    color: var(--s-color);
    font-family: 'Montserrat', sans-serif;

}

.content h1,
.content span {
    font-size: 4.3rem;
    letter-spacing: .3rem;
    color: #fff;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    text-align: center;
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Anton', sans-serif;

}

.tagline {
    margin-top: 1rem;
    font-family: 'Comfortaa', sans-serif;
    font-size: 1.5rem;
}

.m-para {
    margin-top: 10px;
    font-size: 1.7rem;
    text-align: center;
    line-height: 15px;
    font-family: 'Comfortaa', sans-serif;
}

.btn {
    border: 2px solid var(--s-color);
    width: 140px;
    height: 39px;
    padding: 0 20px;
    text-transform: uppercase;
    margin: 20px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 20px;
    color: white;
    background: transparent;
    cursor: pointer;
    position: relative;
    transition: 0.5s;
    border: 2px solid var(--p-color);
}

.btn:hover {
    background-color: var(--p-color);
    box-shadow: 3px 3px 3px 1px rgb(67, 57, 57);

}

/* slide bar */

.slider {
    width: 10rem;
    height: 1.1rem;
    position: relative;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.bg-inactive {
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    transition: 0.5s;
    opacity: o.5;
}

.bg-active {
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    background-color: var(--p-color);
    opacity: 1;
    transition: .5s;

}

/* section learn */

.tech {
    max-width: 90rem;
    margin: 4.5rem auto;
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.head1 {
    font-size: 3rem;
    margin: 3rem;
    color: var(--text-main-color);
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.tech .card {
    max-width: 25rem;
    background-color: var(--theme-1-color);
    color: var(--text-main-color);
    box-shadow: .4rem .4rem .3rem .4rem rgb(25, 23, 23);
    transition: 0.5s;
}

.tech .card:hover {
    max-width: 25rem;
    box-shadow: .4rem .4rem .3rem .4rem rgb(196, 196, 196);
    transform: translateY(-10px);
    cursor: pointer;
}

.card img {
    width: 100%;
}

.card h5 {
    font-size: 1.6rem;
    font-family: 'Comfortaa', sans-serif;
    margin: .4rem 0;
}

.card p {
    font-size: 1.4em;
    margin: 1rem 1rem;
    color: var(--text-main-color);
    line-height: 2rem;
    text-align: left;
    font-family: 'Dosis', sans-serif;
}

.btn2 {
    width: 8rem;
    padding: .5rem 1rem;
    font-size: 1rem;
    text-transform: uppercase;
    background-color: blue;
    color: white;
    cursor: pointer;
    border-radius: 1.6rem;
    margin: 1.5rem 0;
}

.btn2:hover {
    background-color: var(--s-color);
}

/* footer */

footer {
    width: 100%;
    background-color: var(--theme-1-color);
    height: 10rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-shadow: 1rem 1rem 1rem 1rem black;
    position: fixed;

}

footer .last {
    display: flex;
    align-items: center;
}

footer img {
    width: 5rem;
    background-color: rgb(255, 249, 249);
    border: 2px solid black;
    border-radius: 50%;
    margin-right: 2rem;
}

footer p {
    font-size: 1.5rem;
    color: var(--text-main-color);
}

footer a {
    font-size: 2rem;
    margin-left: 2rem;
    color: var(--text-main-color);
}

footer a i:hover {
    color: var(--p-color);
}

@media only screen and (max-width: 900px) {
    html {
        font-size: 53%;
    }
}

@media only screen and (max-width: 730px) {
    .tech {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    .card {
        margin-bottom: 4rem;
    }

    .sub-nav ul {
        display: none;
    }

}

@media only screen and (max-width:380px) {
    footer {
        overflow: hidden;
        font-size: 30%;
        height: 6rem;
        flex-direction: column;
    }

    footer a {
        font-size: 1.5rem;
        margin-left: 1rem;
    }

    footer img {
        width: 2.3rem;
        margin-right: 1rem;
    }

    .content h1,
    .content span {
        font-size: 3rem;
    }

    #search {
        width: 14rem;
    }

    .searchbar {
        padding-right: 0;
    }

    #searchbtn {
        margin-right: .8rem;
    }

    #search {
        margin-right: .5rem;
    }
}

@media only screen and (max-width:270px) {
    .searchbar {
        padding-right: 0;
    }

    #searchbtn {
        margin-right: .8rem;
    }

    #search {
        margin-right: .5rem;
    }

}

@media only screen and (max-width:260px) {
    .main-list-box {
        display: none;
    }
}

@media only screen and (max-width:230px) {
    .searchbar {
        display: none;
    }
}
/* Profile DP */
